In [8]:
import pandas as pd

In [11]:
p= pd.read_csv('p_data.csv',delimiter=';')
w= pd.read_csv('w_data.csv', delimiter=';')

In [12]:
p.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [13]:
w.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K

In [14]:
A= pd.merge(w,p,on="ID")
A.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K,39.0,Male,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K,50.0,Male,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K,38.0,Male,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K,53.0,Male,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K,28.0,Female,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

Cantidad de ID en comÃºn

In [15]:
len(A.value_counts('ID'))

48842

Targets

In [16]:
A.Target.unique()

array([' <=50K', ' >50K', nan, ' <=50K.', ' >50K.'], dtype=object)

In [23]:
A.Target.replace([' <=50K',' <=50K.'], '<=50K', inplace = True)
A.Target.replace([' >50K',' >50K.'], '>50K', inplace = True)

In [24]:
A.Target.unique()

array(['<=50K', '>50K', nan], dtype=object)

In [25]:
A.Target.value_counts()

<=50K    37155
>50K     11686
Name: Target, dtype: int64

Proporciones

In [26]:
Agrouptarget = A.Target.groupby(A.Target).count().reset_index(name = 'count')
Agrouptarget['Porcentaje'] = (Agrouptarget['count']/Agrouptarget['count'].sum())*100
Agrouptarget.head()

  Target  count  Porcentaje
0  <=50K  37155   76.073381
1   >50K  11686   23.926619

Menor a 50

In [27]:
filtro = ['>50K']

In [29]:
Agsex = A[['Target','Sex']]
Agsex = Agsex.groupby(['Sex','Target']).size().reset_index(name= 'count')
Agsex['Porcentaje'] = (Agsex['count'] / Agsex['count'].sum())*100
Agsex = Agsex[Agsex['Target'].isin(filtro)]
Agsex.head()

       Sex Target  count  Porcentaje
1   Female   >50K   1769    3.621957
3     Male   >50K   9917   20.304662

In [30]:
Agsex = A[['Target','Race']]
Agsex = Agsex.groupby(['Race','Target']).size().reset_index(name= 'count')
Agsex['Porcentaje'] = (Agsex['count'] / Agsex['count'].sum())*100
Agsex = Agsex[Agsex['Target'].isin(filtro)]
Agsex.head()

                  Race Target  count  Porcentaje
1   Amer-Indian-Eskimo   >50K     55    0.112610
3   Asian-Pac-Islander   >50K    409    0.837411
5                Black   >50K    566    1.158862
7                Other   >50K     50    0.102373
9                White   >50K  10606   21.715362

In [31]:
Agsex = A[['Target','Education']]
Agsex = Agsex.groupby(['Education','Target']).size().reset_index(name= 'count')
Agsex['Porcentaje'] = (Agsex['count'] / Agsex['count'].sum())*100
Agsex = Agsex[Agsex['Target'].isin(filtro)]
Agsex.head()

  Education Target  count  Porcentaje
1      10th   >50K     87    0.178129
3      11th   >50K     92    0.188366
5      12th   >50K     48    0.098278
7   1st-4th   >50K      8    0.016380
9   5th-6th   >50K     27    0.055281